<div class="fixed-navigation">
	<nav class="navigation" role="navigation">
		<div class="title-area">
			<a href="/" class="banner" title="{{trans "Roomies"}}"><h1>{{trans "Roomies"}}</h1></a>
		</div>
		<section class="nav-section">
			<ul class="left">
				{{#if user }}{{#if community }}
					<li>
						<a href="/community/{{community.slug}}/tasks" title="{{trans "Tasks"}}">
							<i class="icon-tasks icon-large"></i>
							<span class="item-label"> {{trans "Tasks" }}</span>
						</a>
					</li>
					<li>
						<a href="/community/{{community.slug}}/rank" title="{{trans "Ranking"}}">
							<i class="icon-trophy icon-large"></i>
							<span class="item-label"> {{trans "Ranking" }}</span>
						</a>
					</li>
					<li>
						<a href="/community/{{community.slug}}/invite" title="{{trans "Invite"}}">
							<i class="icon-share icon-large"></i>
							<span class="item-label"> {{trans "Invite" }}</span>
						</a>
					</li>
				{{/if}}{{/if}}
			</ul>
			{{#if user}}
			<ul class="right">
				<li class="account">
					<a href="/resident/{{user.facebookId}}/profile">
						<span class="item-label">{{user.name}}</span>
						<img class="avatar small" src="//graph.facebook.com/{{user.facebookId}}/picture" />
					</a>
				</li>
				<li class="logout">
					<a href="/logout" title="{{trans "Logout"}}"><i class="icon-signout"></i></a>
				</li>
			</ul>
			{{/if}}
		</section>
	</nav>
</div>