<div class="row">
	<div class="large-3 small-4 columns">
		<img class="avatar" src="//graph.facebook.com/{{resident.facebookId}}/picture?type=large" />
	</div>
	<div class="large-9 small-8 columns">
		<h2>{{resident.name}}</h2>
		<p>
			<strong>{{trans "Points:"}}</strong> {{pointsSum}} <i class="icon-trophy"></i><br/>
			<strong>{{trans "Badges:"}}</strong> {{achievementsCount}}
		</p>
	</div>
</div>

{{#if achievementsCount}}
<div class="row">
	<div class="large-12 columns">
		<table class="badges">
			<thead>
				<tr>
					<th class="badge">{{trans "Badges"}}</th>
				</tr>
			</thead>
			<tbody>
				{{#each achievements}}
				<tr>
					<td class="badge"><i class="icon-certificate"></i> {{trans this.type}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
{{/if}}

{{#if displayDangerZone}}
<div class="row">
	<div class="large-12 columns">
		<h3>Community settings</h3>
		<div class="danger-zone">
			<p class="left">{{trans "You're in the community named: %s" community.name}}</p>
			<form action="/community" method="POST">
				<input type="submit" value="{{trans "Delete the community"}}" class="button attention large-2 columns right">
				<input type="hidden" name="_method" value="DELETE" />
				<input type="hidden" name="community" value="{{community.slug}}" />
			</form>
		</div>
	</div>
</div>
{{/if}}