<div class="row">
	<div class="center text-center large-12 columns">
		<h4>{{trans "Hi %s" user.name}}</h4>
		<h5 class="subheader">
			{{trans "You have an invitation for the community '%s'" name}}
		</h5>
		<form action="/community/{{slug}}/resident" method="post">
			<p>{{trans "Do you want to join the community?"}}</p>
			<input type="hidden" name="shareLink" value="{{shareLink}}"/>
			<div class="row button-bar">
				<input type="submit" value="{{trans "Join"}}" class="button large-3 large-centered columns"/>
			</div>

		</form>
	</div>
</div>
