<div class="row">
	<section class="large-centered large-6 columns center">
		<h4>{{trans "Hi %s" user.name}}</h4>
		<h5 class="subheader">
			{{trans "You have an invitation for the community '%s'" community.name}}
		</h5>
		<form action="/community/{{community.slug}}/resident" method="post">

			<div class="row">
				<div class="small-10 large-10 columns">
					<label class="inline">{{trans "Do you want to join the community?"}}</label>
				</div>
			</div>

			<div class="row">
				<div class="small-10 large-10 columns">
					<input type="submit" value="{{trans "Join"}}" class="button large-3 columns">
				</div>
			</div>

		</form>
	</section>
</div>
