<div class="row">
	<header class="large-12 columns">
		<h2>{{trans "Tasks"}}</h2>
	</header>
</div>
<div class="row">
	<div class="large-12 columns">
		<a class="button" href="/community/{{community.slug}}/task/new" title="{{trans "Add a new task"}}">
			<i class="icon-plus icon-large"></i>
			<span class="item-label"> {{trans "Add a new task"}}</span>
		</a>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<table class="tasks">
			<thead>
				<tr>
					<th class="check"></th>
					<th class="task"><a href="#" title="{{trans "Sort by task"}}">{{trans "Task"}}</a></th>
					<th class="description">{{trans "Description"}}</th>
					<th class="due-date"><a href="#" title="{{trans "Sort by due date"}}">{{trans "Due date"}} <i class="icon-sort-up"></i></i></a></th>
					<th class="reward"><a href="#" title="{{trans "Sort by reward"}}">{{trans "Value"}}</a></th>
				</tr>
			</thead>
			<tbody>
				{{#each tasks}}
				    <tr>
						<td class="check">
							{{#if isFulfill}}
								<i class="icon-check"></i>
							{{else}}
								<a href="{{id}}/check">
									<i class="icon-check-empty"></i>
								</a>
							{{/if}}
						</td>
						<td class="task">{{name}}</td>
						<td class="description">{{description}}</td>
						<td class="due-date">{{dateFormat dueDate}}</td>
						<td class="reward">{{reward}} <i class="icon-trophy"></i></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>