<div class="fixed-navigation">
	<nav class="navigation" role="navigation">
		<div class="title-area">
			<a href="#" class="banner" title="{{trans "Roomies"}}"><h1>{{trans "Roomies"}}</h1></a>
		</div>
		<section class="nav-section">
			<ul class="left">
				{{#each navigation}}
					<li>
						<a href="{{ this.url }}" title="{{ this.title }}">
							<i class="icon-{{ this.icon }} icon-large"></i>
							<span class="item-label"> {{ this.title }}</span>
						</a>
					</li>
				{{/each}}
			</ul>
			{{#if user}}
			<ul class="right">
				<li class="account">
					<a href="#">
						<span class="item-label">{{user.name}}</span>
						<img class="avatar" src="//graph.facebook.com/{{user.facebookId}}/picture" width="25" height="25" />
					</a>
				</li>
			</ul>
			{{/if}}
		</section>
	</nav>
</div>