<div class="row">
	<header class="large-12 columns">
		<h2>{{trans "Tasks"}}</h2>
	</header>
</div>
<div class="row">
	<div class="large-12 columns">
		<a class="button create-task" href="/community/{{community.slug}}/tasks/new" title="{{trans "Add a new task"}}">
			<i class="icon-plus icon-large"></i>
			<span class="item-label"> {{trans "Add a new task"}}</span>
		</a>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<table class="tasks">
			<thead>
				<tr>
					<th class="check"></th>
					<th class="task">{{trans "Task"}}</th>
					<th class="description">{{trans "Description"}}</th>
					<th class="due-date">{{trans "Due date"}}</th>
					<th class="reward">{{trans "Reward"}}</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>