<tr>
	<td class="check">
		{{#ifnotequal fulfilledAt}}
			<i class="icon-check"></i>
		{{else}}
			<form class="reset-style" action="/community/{{community.slug}}/tasks/{{id}}" data-task-id="{{id}}" method="post">
				<input type="hidden" name="method" value="put"/>
				<button type="submit" class="reset-style">
					<i class="icon-check-empty"></i>
				</button>
			</form>
		{{/ifnotequal}}
	</td>
	<td class="task">{{name}}</td>
	<td class="description">{{description}}</td>
	<td class="due-date">{{formatDate dueDate}}</td>
	<td class="reward">{{reward}} <i class="icon-trophy"></i></td>
</tr>