<tr>
	<td class="check">
		{{#ifnotequal fulfilledAt}}
			<i class="icon-check"></i>
		{{else}}
			<a href="/community/{{community.slug}}/task/{{id}}/check">
				<i class="icon-check-empty"></i>
			</a>
		{{/ifnotequal}}
	</td>
	<td class="task">{{name}}</td>
	<td class="description">{{description}}</td>
	<td class="due-date">{{formatDate dueDate}}</td>
	<td class="reward">{{reward}} <i class="icon-trophy"></i></td>
</tr>