<tr>
	<td class="check">
		{{#ifnotequal fulfilledAt}}
			<i class="icon-check"></i>
		{{else}}
			<form class="reset-style" action="/community/{{community.slug}}/tasks/{{id}}" data-task-id="{{id}}" method="post">
				<input type="hidden" name="_method" value="put"/>

				<input type="hidden" name="name" value="{{name}}"/>
				<input type="hidden" name="reward" value="{{reward}}"/>
				<input type="hidden" name="dueDate" value="{{formatDate dueDate}}"/>
				<input type="hidden" name="fulfillorId" value="{{resident.id}}"/>
				<input type="hidden" name="fulfilledAt" value="{{formatDate now}}"/>

				<button type="submit" class="reset-style">
					<i class="icon-check-empty"></i>
				</button>
			</form>
		{{/ifnotequal}}
	</td>
	<td class="task">
		{{#ifnotequal fulfilledAt}}
			{{name}}
		{{else}}
			<a class="edit-task" href="/community/{{community.slug}}/tasks/{{id}}/edit">
				{{name}}
			</a>
		{{/ifnotequal}}
	</td>
	<td class="description">{{description}}</td>
	<td class="due-date">{{formatDate dueDate}}</td>
	<td class="reward">{{reward}} <i class="icon-trophy"></i></td>
</tr>