<!DOCTYPE html>
<html>
	<head>
		<title><%= __('Welcome') %> <%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />

		<script src="/js/roomies.js"></script>
		<script>
			Roomies.init(<%- JSON.stringify(config) %>, window);
		</script>
		<%- LRScript %>
	</head>
	<body>
		<%- body %>
		<div id="fb-root"></div>
	</body>
</html>
